* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  background: #002b36;
  width: 100%;
  height: 100%;
}
main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #eaedf0;
  padding: 30px;
  border-radius: 5px;
  color: #002b36;
}

#input-container {
  display: flex;
}

input,button {
  padding: 8px;
  font-size: 18px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin:15px auto;

}

input {
  background-color: #013f4ee8;
  color: #c9ccce;
}

button {
  background-color: #002b36;
  color: #eaedf0;
}

#misspelled {
  background-color: rgb(187, 187, 187);
  padding: 0px;
  margin: 15px 20px;
  font-size: medium;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}